@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: rgb(25, 162, 174);
    --dark-desaturated-blue: rgb(45, 50, 72);
    --dark-grayish-blue: rgb(106, 111, 129);
    --dark-gray: rgb(150, 150, 150);
}

html {
    font-size: large;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position: -8em -10em, calc(100% + 8em) calc(100% + 8em);
    background-repeat: no-repeat no-repeat;
    background-size: 20em;
}

main {
    background-color: white;
    width: 18em;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
}

.wrapper {
    height: 75%;
    margin-top: 25%;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

section div {
    margin: 1em;
}

img {
    border-radius: 50%;
    border: .5em solid white;
}

hr {
    border: none;
    background: linear-gradient(to right, white 5%, var(--dark-gray) 50%, white 100%);
    height: 1px;
    width: 80%;
}

h1,
section p {
    color: var(--dark-desaturated-blue);
    font-weight: 700;
}

section p, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.1rem;
}

h2, span, p {
    color: var(--dark-gray);
}

h2, span {
    font-weight: 400;
}

h2 {
    font-size: .5rem;
    letter-spacing: .1em;
}

.location {
    font-size: .7rem;
}

@media (min-width: 35em) {
    body {
        background-size: 35em;
    }
}

@media (min-width: 80em) {
    body {
        background-size: 50em;
        background-position: 5em -20em, calc(100% + -5em) calc(100% + 20em);
    }
}

